@import "../../../../assets/styles/app-sizes";

.individual-content{
    padding:0px;
    margin:0px;
    & li{
        padding-left:0px;
        border-bottom: 1px solid #00232b;
        padding-bottom: 15px;;
    }

    & .accordion-subhead{
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        color: $text-color;
        font-size: 12px;
        
    }

    & .accordion-text{
        color: #545454;
        line-height: 1.43;
        font-size: 14px;
        padding-top: 15px;
    }

    & .custom-arrow-icon{
        float:left;
        padding-right:10px;
        cursor: pointer;
        & .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & .icon-wrapper, .collapsed {
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #ededed;
            
            width: 32px;
            height: 32px;
            & i {
                color: #48525a;
            }
            & i.downarrow{
                display: none;
            }
            & i.rightarrow{
                display: block;
            }
        }
        & .icon-wrapper:not(.collapsed){
          
          & i.downarrow{
              display: block;
          }
          & i.rightarrow{
              display: none;
          }
        }
        
    }
}

