<div class="row footer-container">
    <div class="footer">
        <section>
            <div class="company-name">Powered by </div>
            <div class="logo"></div>

            <div class="footer-links">
                <span>Contact us</span>&nbsp;&bull;&nbsp;
                <span>Terms of use</span>&nbsp;&bull;&nbsp;
                <span>Privacy statement</span>&nbsp;&bull;&nbsp;
                <span>Accessibility</span>&nbsp;&bull;&nbsp;
                <span>&copy;2015 BT Financial Group</span>
               </div>
        </section>
        
    </div>
   
</div>
