<header>
    <div class="d-flex flex-column flex-md-row align-items-center">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="logo"></span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto header-right">
        <div class="header-nav-left">
          <span>Name Adviser</span>
          <span class="subhead">Adviser  &bull;  123456789</span>
        </div>
        <div class="header-nav-right">
          <div class="setting-icon"></div>
        </div>
      </nav>
    </div>
  </header>