<div class="d-flex flex-column flex-shrink-0 bg-custom sidebar-container" >
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      
      <li>
        <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
            <div class="icon-home"></div>
        </a>
      </li>
      <li>
          
        <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
            <span class="active" style="position: absolute;
          background: #00afd7;
          left: 0;
          top:0;
          width: 5px;
          height: 50px;">&nbsp;</span>
            <div class="icon-clients"></div>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
            <div class="icon-tracking"></div>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
            <div class="icon-business"></div>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link " title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
            <div class="icon-investments"></div>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <div class="icon-market"></div>
        </a>
      </li>
    </ul>
    
  </div>