.sidebar-container{
    width:50px;
    float:left;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}
.icon-home{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23A2A6A9' fill-rule='nonzero' d='M14.08 17.756h-3.5V22.5c0 .69-.56 1.25-1.25 1.25h-4c-.69 0-1.25-.56-1.25-1.25v-8.722a.75.75 0 1 1 1.5 0v8.472h3.5v-5.994h6.5v5.994h3.5v-8.472a.75.75 0 0 1 1.5 0V22.5c0 .69-.56 1.25-1.25 1.25h-4c-.69 0-1.25-.56-1.25-1.25v-4.744zm9.422-4.973L12.5 3.003l-11.002 9.78a.75.75 0 1 1-.996-1.121l11.5-10.223a.75.75 0 0 1 .996 0l11.5 10.223a.75.75 0 0 1-.996 1.12zm-.252-6.95V2.75h-3.083a.75.75 0 1 1 0-1.5h4.583v4.583a.75.75 0 1 1-1.5 0z'/%3E%3C/svg%3E%0A");
    width: 25px;
    height:25px;
    color:#A2A6A9;
    position:absolute;
    margin:12px;
    top:0;
    left:0;
}

.icon-clients{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%2300AFD7' fill-rule='evenodd' d='M10.331 2.941c-3.071 0-6.212 2.543-6.212 4.825v3.447c0 1.506.643 4.553 2.589 6.1l-5.319 2.86S0 20.785 0 21.552v2.068C0 24.382.623 25 1.39 25h17.808c.767 0 1.39-.618 1.39-1.38v-2.068c0-.812-1.39-1.379-1.39-1.379l-5.185-2.848c1.927-1.503 2.45-4.456 2.45-6.112V7.766c0-2.282-3.06-4.825-6.132-4.825m.002 1.47c2.427 0 4.577 2.027 4.577 3.248v3.507c0 1.301-.41 3.786-1.86 4.913a1.658 1.658 0 0 0-.635 1.445c.048.555.374 1.051.87 1.318l5.29 2.896c.047.026.106.053.156.075.124.05.277.139.387.216v1.5H1.471v-1.485c.121-.085.29-.186.421-.247.04-.016.08-.035.117-.057l5.428-2.91a1.651 1.651 0 0 0 .25-2.755c-1.408-1.116-2.013-3.589-2.013-4.91V7.66c0-1.192 2.276-3.247 4.659-3.247zm8.785 8.824v1.47S25 17.893 25 17.87v2.811c0 .762-.59 1.379-1.315 1.379h-1.628V20.68h1.628v-1.584c-.103-.075-5.984-2.988-5.984-3.017l-.054-2.844s1.62-3.12 1.62-4.397l-.149-4.426C17.968.869 13.236 1.47 13.236 1.47h-1.47S12.402.168 14.29.138c4.976-.078 6.299 4.274 6.299 4.274v4.412l-1.471 4.411z'/%3E%3C/svg%3E%0A");
    width: 25px;
    height:25px;
    color:#00AFD7;
    position:absolute;
    margin:12px;
    top:0;
    left:0;
}

.icon-tracking{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23A2A6A9' fill-rule='nonzero' d='M20.25 22.917V7.56L14.505 1.75H4.75v21.167h15.5zm.75 1.5H4a.75.75 0 0 1-.75-.75V1A.75.75 0 0 1 4 .25h10.818c.2 0 .393.08.534.223l6.181 6.253a.75.75 0 0 1 .217.527v16.414a.75.75 0 0 1-.75.75zM15.568 6.503V2.8l-1.046-1.05h-.454v5.503c0 .414.336.75.75.75h5.432v-.43l-1.05-1.07h-3.632zm-1.854 4.759h3.238a.75.75 0 0 0 0-1.5h-3.238a.75.75 0 0 0 0 1.5zm0 4.048h3.238a.75.75 0 0 0 0-1.5h-3.238a.75.75 0 0 0 0 1.5zm0 4.047h3.238a.75.75 0 0 0 0-1.5h-3.238a.75.75 0 0 0 0 1.5zm-5.147-9.41a.75.75 0 0 0-1.039 1.082l.911.874a.75.75 0 0 0 1.039 0l1.518-1.457a.75.75 0 1 0-1.04-1.082l-.998.958-.391-.376zm0 4.047a.75.75 0 1 0-1.039 1.082l.911.875a.75.75 0 0 0 1.039 0l1.518-1.458a.75.75 0 1 0-1.04-1.082l-.998.959-.391-.376zm0 4.048a.75.75 0 0 0-1.039 1.082l.911.874a.75.75 0 0 0 1.039 0l1.518-1.457a.75.75 0 1 0-1.04-1.082l-.998.958-.391-.375z'/%3E%3C/svg%3E ");
    width: 25px;
    height:25px;
    color:#A2A6A9;
    position:absolute;
    margin:12px;
    top:0;
    left:0;
}

.icon-business{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23A2A6A9' fill-rule='nonzero' d='M2.316 12.932l-.08-.024a.673.673 0 0 1-.486-.645V8.509a2.326 2.326 0 0 1 2.333-2.314h17.68a2.326 2.326 0 0 1 2.334 2.314v3.818c0 .3-.2.564-.49.646l-.076.022v8.606c0 .653-.535 1.182-1.192 1.182H3.507c-.656 0-1.191-.53-1.191-1.182v-8.67zm20.427-4.423a.976.976 0 0 0-.98-.969h-1.628v2.68a.675.675 0 0 1-.677.673.675.675 0 0 1-.677-.672V7.54H6.911v2.68a.675.675 0 0 1-.677.672.675.675 0 0 1-.676-.672V7.54H4.083c-.54 0-.98.435-.98.968v3.25l7.6 2.221v-.332c0-.372.304-.673.677-.673h3.087c.373 0 .677.3.677.673v.347l7.6-2.175V8.51zM13.79 15.88v-1.56h-1.734v1.56h1.734zm8.387-2.499l-7.033 2.013v1.159a.675.675 0 0 1-.677.672H11.38a.675.675 0 0 1-.677-.672v-1.171l-7.034-2.056v4.899h.978a2.257 2.257 0 0 1 2.264 2.246v.966h12.025v-.966a2.258 2.258 0 0 1 2.264-2.246h.977v-4.844zm0 6.19H21.2a.907.907 0 0 0-.911.9v.966h1.888V19.57zm-16.62.9c0-.496-.408-.9-.91-.9h-.978v1.866h1.889v-.966zm4.59-18.656h5.042c.922 0 1.662.808 1.662 1.79v.709c0 .383-.292.701-.664.701-.372 0-.664-.318-.664-.701v-.708c0-.218-.155-.388-.334-.388h-5.042c-.179 0-.334.17-.334.388v.708c0 .383-.292.701-.664.701-.372 0-.664-.318-.664-.701v-.708c0-.983.74-1.79 1.662-1.79z'/%3E%3C/g%3E%3C/svg%3E%0A");
    width: 25px;
    height:25px;
    color:#A2A6A9;
    position:absolute;
    margin:12px;
    top:0;
    left:0;
}

.icon-investments{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23A2A6A9' fill-rule='nonzero' d='M18.802 10.987a1120.58 1120.58 0 0 0-3.555 1.896c-.716.388-1.374.532-2.232.534-.864-.002-1.496-.149-2.135-.466-.389-.193-6.19-3.309-7.299-3.91.326.176-.327-.167-.488-.274-.511-.342-.843-.805-.843-1.437 0-.65.342-1.116.876-1.467.086-.056.173-.107.272-.161l.182-.097c.074-.04.98-.523 3.618-1.926 2.097-1.116 3.286-1.75 3.555-1.895.716-.388 1.374-.532 2.232-.534.864.002 1.496.148 2.136.466.388.193 6.2 3.315 7.299 3.91-.32-.173.327.167.487.274.512.341.843.805.843 1.437 0 .649-.342 1.116-.876 1.466a3.682 3.682 0 0 1-.272.162l-.182.096c-.073.04-.98.523-3.618 1.926zm-5.8-8.237c-.632 0-1.05.09-1.535.353-.273.148-1.458.78-3.565 1.9A2719.85 2719.85 0 0 0 4.3 6.922l-.186.098a2.24 2.24 0 0 0-.164.097c-.154.101-.199.163-.199.213 0 .043.04.099.176.19.05.032.105.065.174.1.024.014.159.082.196.102 1.079.585 6.887 3.705 7.25 3.885.435.216.843.31 1.452.31.632 0 1.051-.091 1.534-.353.275-.149 1.465-.783 3.566-1.901 2.64-1.404 3.538-1.882 3.603-1.918l.186-.099c.065-.035.117-.066.164-.096.154-.102.199-.163.199-.213 0-.043-.04-.099-.176-.19a1.907 1.907 0 0 0-.174-.101l-.196-.101c-1.068-.58-6.887-3.705-7.25-3.886-.435-.215-.843-.309-1.452-.309zm-.252 15.667c-2 0-9.766-5.1-9.925-5.212-.503-.358-.825-.838-.825-1.478 0-.727.385-1.218.991-1.6a.75.75 0 0 1 .799 1.27c-.215.136-.29.23-.29.33 0 .078 7.25 4.69 9.25 4.69S22 11.82 22 11.733c0-.097-.086-.2-.32-.336a.75.75 0 1 1 .759-1.294c.645.378 1.061.87 1.061 1.63 0 .659-.332 1.142-.857 1.51-.086.06-7.893 5.174-9.893 5.174zm0 5c-2 0-9.766-5.1-9.925-5.212-.503-.358-.825-.838-.825-1.478 0-.727.385-1.218.991-1.6a.75.75 0 0 1 .799 1.27c-.215.136-.29.23-.29.33 0 .078 7.25 4.69 9.25 4.69S22 16.82 22 16.733c0-.097-.086-.2-.32-.336a.75.75 0 1 1 .759-1.294c.645.378 1.061.87 1.061 1.63 0 .659-.332 1.142-.857 1.51-.086.06-7.893 5.174-9.893 5.174z'/%3E%3C/svg%3E%0A");
    width: 25px;
    height:25px;
    color:#A2A6A9;
    position:absolute;
    margin:12px;
    top:0;
    left:0;
}

.icon-market{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23A2A6A9' fill-rule='nonzero' d='M17.038 6.344l1.966-1.966a2.75 2.75 0 1 1 1.077 1.044l-2.033 2.034a.751.751 0 0 1-.153.118 2.75 2.75 0 1 1-5.266.218l-1.095-.8a2.748 2.748 0 0 1-3.495 1.03.765.765 0 0 1-.009.008l-2 2a.747.747 0 0 1-.313.188 2.75 2.75 0 1 1-.686-1.31l1.872-1.872a2.75 2.75 0 1 1 5.05-1.597l1.435 1.05a2.74 2.74 0 0 1 1.906-.768c.662 0 1.27.234 1.744.623zM1 22.75h22c1 0 1 1.5 0 1.5H1c-1 0-1-1.5 0-1.5zm1.024-1.78V16h2v4.97h-2zM8 21.005V12h2v9.005H8zm6 0V14h2v7.005h-2zm6.005 0V9h2v12.005h-2zM16.545 8.47a1.25 1.25 0 1 0-2.5 0 1.25 1.25 0 0 0 2.5 0zm-6.091-2.942a1.25 1.25 0 1 0-2.5 0 1.25 1.25 0 0 0 2.5 0zm-6.177 5.263a1.25 1.25 0 1 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM22.634 3a1.25 1.25 0 1 0-2.5 0 1.25 1.25 0 0 0 2.5 0z'/%3E%3C/svg%3E%0A");
    width: 25px;
    height:25px;
    color:#A2A6A9;
    position:absolute;
    margin:12px;
    top:0;
    left:0;
    
}

.bg-custom{
    background-color: #1D3340;
    & a.nav-link {
        position: relative;
        height: 50px;
    }
}